<div class="home-container">
    <h1>Bem-vindo Organizador</h1>
    
    <div class="button-container">
      <button class="btn tertiary-btn" routerLink="/administrarEventos">Eventos</button>
      <button class="btn tertiary-btn" routerLink="/administrarProdutos">Produtos</button>
      <button class="btn tertiary-btn" routerLink="/administrarKits">Kits</button>
      <button class="btn tertiary-btn" routerLink="/planos">Planos</button>
      <button class="btn tertiary-btn" routerLink="/atuantes">Atuantes</button>
    </div>
  </div>