<div class="background">
    <div>
      <h1>Organizador</h1>
    </div>
  
    <div class="container-modal">
      <div class="container">
        <div class="containerTitulo">
          <h6>Alterar Organizador</h6>
        </div>
        <form [formGroup]="formularioAlterar" (ngSubmit)="alterar()">
          <div class="form-group">
            <label for="id">Organizador</label>
            <select formControlName="id">
              <option *ngFor="let organizador of organizadores" [value]="organizador.id">{{ organizador.nome }}</option>
            </select>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" formControlName="nome" class="form-control" required>

            <label for="email">Email:</label>
            <input type="text" id="email" formControlName="email" class="form-control" required>

            <label for="senha">Senha:</label>
            <input type="text" id="senha" formControlName="senha" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-sm btn-outline-secondary">Alterar</button>
        </form>
      </div> 
  
      <!-- Formulário Cadastrar -->
      <div class="container">
        <div class="containerTitulo">
          <h6>Cadastrar Organizador</h6>
        </div>
        <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
          <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" formControlName="nome" class="form-control" required>

            <label for="email">Email:</label>
            <input type="text" id="email" formControlName="email" class="form-control" required>

            <label for="senha">Nome:</label>
            <input type="text" id="senha" formControlName="senha" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-sm btn-outline-secondary">Cadastrar</button>
        </form>
      </div>
  
      <div class="container-delete">
        <div class="containerTitulo">
          <h6>Excluir Organizador</h6>
        </div>
        <form [formGroup]="formularioExcluir" (ngSubmit)="excluir()">
          <div class="form-group">
            <label for="id">Organizador</label>
            <select formControlName="id">
              <option *ngFor="let organizador of organizadores" [value]="organizador.id">{{ organizador.nome }}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-sm btn-outline-secondary">Excluir</button>
        </form>
      </div>
    </div>
  </div>