<div class="container">
  <h6>{{ tituloFormulario }}</h6>
  <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">

    <label for="nome">Nome:</label>
    <input type="text" formControlName="nome" required>

    <label for="descricao">Descrição:</label>
    <textarea formControlName="descricao" required></textarea>

    <label for="preco">Preço:</label>
    <input type="number" formControlName="preco" required>

    <div class="row">
      <div>
        <button type="submit" class="btn btn-sm btn-outline-secondary">Salvar</button>
      </div>
      <div class="pl-1">
        <button (click)="voltar()" type="button" class="btn btn-sm btn-light">Voltar</button>
      </div>
    </div>
  </form>
</div>