<div class="container mt-3">
    <h1>Login Organizador</h1><br>
  <form>
    <div class="form-group">
      <label for="usuarioInput">Email:</label>
      <input type="text" class="form-control" id="EmailInput" placeholder="Digite seu email" #EmailInput>
    </div>

    <div class="form-group">
      <label for="senhaInput">Senha:</label>
      <input type="password" class="form-control" id="senhaInput" placeholder="Digite sua senha" #senhaInput>
    </div>

    <button type="button" class="btn btn-primary" (click)="login(EmailInput.value, senhaInput.value)">Logar</button>
    <button type="button" class="btn btn-primary" routerLink="/organizadores">Cadastrar</button>
  </form>
</div>
