<div class="container mt-3">
  <form>
    <div class="form-group">
      <label for="usuarioInput">Usuário:</label>
      <input type="text" class="form-control" id="usuarioInput" placeholder="Digite seu usuário" #usuarioInput>
    </div>

    <div class="form-group">
      <label for="senhaInput">Senha:</label>
      <input type="password" class="form-control" id="senhaInput" placeholder="Digite sua senha" #senhaInput>
    </div>

    <button type="button" class="btn btn-primary" (click)="login(usuarioInput.value, senhaInput.value)">Logar</button>
  </form>
</div>