<div class="background">
  <div>
    <h1>Atuante</h1>
  </div>
  

<div class="container-modal">
  <div class="container">
    <div class="containerTitulo">
      <h6>Alterar Atuante</h6>
    </div>
    <form [formGroup]="formularioAlterar" (ngSubmit)="alterar()">
      <div class="form-group">

        <label for="id">Atuante</label>
        <select formControlName="id">
          <option *ngFor="let atuante of atuantes" [value]="atuante.id">{{ atuante.nome }}</option>
        </select>

        <label for="nomeAlterar">Nome:</label>
        <input type="text" id="nomeAlterar" formControlName="nome" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-sm btn-outline-secondary">Alterar</button>
    </form>
  </div>

  <div  class="container">
    <div class="containerTitulo">
      <h6>Cadastrar Atuante</h6>
    </div>
    <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
      <div class="form-group">
        <label for="eventoId">Evento pertencente</label>
        <select formControlName="eventoId">
          <option *ngFor="let evento of eventos" [value]="evento.id">{{ evento.nome }}</option>
        </select>
        <label for="nomeCadastrar">Nome:</label>
        <input type="text" id="nomeCadastrar" formControlName="nome" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-sm btn-outline-secondary">Cadastrar</button>
    </form>
  </div>


  <div class="container">
    <div class="containerTitulo">
      <h6>Excluir Atuante</h6>
    </div>
    <form [formGroup]="formularioExcluir" (ngSubmit)="excluir()">
      <div class="form-group">
        <label for="id">Atuante</label>
        <select formControlName="id">
          
          <option *ngFor="let atuante of atuantes" [value]="atuante.id">{{ atuante.nome }}</option>
        </select>
      </div>
      <button type="submit" (click)="listarEventos()" class="btn btn-sm btn-outline-secondary">Excluir</button>
    </form>
  </div>
</div>
</div>
