<form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
    <label for="eventoId">Selecione um evento:</label>
    <select formControlName="eventoId">
      <option *ngFor="let evento of eventos" [value]="evento.id">{{ evento.nome }}</option>
    </select>
    <div class="container">
        <div class="row">
            <div>
                <button type="submit" class="btn btn-sm btn-outline-secondary">Salvar</button>
            </div>
            <div class="pl-1">
                <button type="button" class="btn btn-sm btn-light">Voltar</button>
            </div>
        </div>
    </div>
</form>